################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/immediate2d-vs
